.warning {
	padding-left: 50px;
	background-image: url('warning.png');
	background-repeat: no-repeat;
}

#backgroundDiv {
	background-image: url('stars_background.png');
}

#backgroundDiv_X {
	background-image: url('stars_background.png');
	background-repeat: repeat-x;
}