table {
	border-collapse: collapse;
}
th, td {
	border:1px solid #ccc;
	padding: 5px;
	text-align: center;
}

.green-bg {
	background-color: green;
	color: #fff;
}

.grey-bg {
	background-color: #eee;
}

.table-title {
	font-size: 1.5em;
	color: green;
}