body {
  font: 14px/1.5 arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

p { margin: 0 0 1.2em; }

#container {
  margin: 30px auto;
  padding: 0 10px;
  max-width: 960px;
}

section.articles {
  float: left;
  width: 73%;
}

aside {
  float: right;
  width: 25%;
}

article {
  background-color: #fffecc;
  border: 3px solid #fdc418;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.meta {
  font-size: 0.8em;
  color: #fda046;
  font-weight: bold;
  margin-bottom: 1em;
}

aside article {
  background-color: #fe9b99;
  border-color: #fc3d98;
}

footer {
  background-color: #0e9cff;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
}

footer p { margin: 0; }

nav {
  overflow: hidden;
  margin-bottom: 20px;
}

nav li {
  display: block;
  float: left;
  margin-right: 10px;
}

nav a {
  display: block;
  background-color: #dbdfe1;
  padding: 5px 10px;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  -moz-box-shadow: inset 0 0 2px #fff;
  -webkit-box-shadow: inset 0 0 2px #fff;
  box-shadow: inset 0 0 2px #fff;
  transition: all 0.2s linear;
}

nav a.active-trail,
nav a:hover,
nav a:focus {
  background-color: #0e9cff;
  -moz-box-shadow: inset 0 0 2px #2092e2;
  -webkit-box-shadow: inset 0 0 2px #2092e2;
  box-shadow: inset 0 0 2px #2092e2;
  color: #fff;
}

@media screen and (max-width: 719px) {
  section.articles,
  aside {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 399px) {
  nav ul li {
    float: none;
    margin-bottom: 5px;
  }
}

#fuck-ie {
  background-color: #2c1e1e;
  color: #d22c07;
  width: 80%;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
}

#fuck-ie span {
  font-size: 70px;
}

#fuck-ie p { margin: 0; }