ul, li {
  list-style: none;
  clear: both;
}

li {
  margin-bottom: 10px;
}

form {
  width: 660px;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: .2em .2em .5em #999;
  background-color: #d0e9f6;
  padding: 15px;
}

label, legend {
  text-align: right;
  width: 200px;
  color: #04699d;
  display: block;
  float:left;
  margin-right: 10px;
}

fieldset label {
  float: none;
  display: inline;
  color: #000;
}

input[type="text"] {
 border:1px solid #666;
 width: 250px;
 padding: 3px 10px;
}

input[type="submit"] {
  display: block;
  padding:5px 30px;
  font-size: 100%;
  border: 1px solid #04699d;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);
  margin-left: 210px;
}

fieldset {
  border: none;
  margin:0;
  padding:0;
}
#os ul {
  margin:0;
  padding:0;
  clear: none;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

#skills legend { clear: none; display: inline;}
#skills ul {
  margin:0;
  padding:0;
  clear:none;
  float:left;
}

textarea {
  width: 340px;
}