#overflowingBox {
	border: 1px solid #999;
	width: 200px;
	height: 200px;
}

#marginPaddingBox, #marginPaddingBox2 {
	background-color: yellow;
}

.borderBox {
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 2em;
	padding: 2em;
	color: white;
}

#marginPaddingBox {
	margin: 2em;
	padding: 1em;
	border: 1px solid #000;
}

#marginPaddingBox2 {
	padding: 4em 3em 2em 1em;
	border: 1px solid #000;	
}

#overflowingBox {
	overflow: auto; 
	height: 200px;
}

#borderBox1 { border: 4px solid #ff0000; }

#borderBox2 { 
	border-top: 8px dashed blue;
	border-right: 6px dashed blue;
	border-bottom: 4px dashed blue;
	border-left: 2px dashed blue;
}