div.box {
	width: 100px;
	height: 100px;
	background-color: green;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	color: white;
}

h2 {
	clear: both;
}

#box1 {
	float:left;
}

#box2 {
	float:left;
}

#box3 {
	float:right;
}

#box4 {
	float:left;
	clear:both;
}

#textBox {
	border:1px solid #000;
	width:600px;
	overflow: hidden;
	padding: 5px;
}

#textBox img {
	float: left;
}

#navigationBar li {
	list-style: none;
	display: inline-block;
	background-color: #77889B;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 5px;
}

#navigationBar li a {
	display:block;
	padding:10px 40px;
	color:#fff;
	text-decoration: none;
}

.navigation, .content, .footer {
	background-color:#ccc;
	padding:20px 10px;
	border: 1px solid #000;
}

.navigation {
	float: left;
	width: 320px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.content {
	float:right;
	width:600px;
}

.footer {
	clear: both;
}







