body, select, input, textarea {
  font: 400 100%/1.45 Helvetica, arial, sans-serif;
  color: #6F6F6F;
}

body {
  font-size: 15px;
  background-color: #EEE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em;
  font-weight: 700;
  color: #999;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #999;
}

h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }

a {
	color: #545163;
}

a.button {
	font-size: 12px;
	padding: 8px 12px;
	border-radius: 4px;
	-moz-border-radius: 3px;
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	color: #444;
	border: 1px solid #d0d0d0;
	background-color: #e1e1e1;
	text-shadow: 1px 1px 1px #fff;
	display:block;
}

a:hover,
a:active  {
	outline-style: none;
  	transition: all 0.2s ease 0s;
  	color: #999;
}

#header > div,
#mainmenu > div,
#main > div,
#footer > div {
	width: 860px;
	margin: 0 auto;
}

#header {
	padding: 30px 0;
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(108,0,24,1) 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(85%,rgba(108,0,24,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(108,0,24,1) 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(108,0,24,1) 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(108,0,24,1) 85%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(108,0,24,1) 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6c0018',GradientType=0 ); /* IE6-9 */
}

#header h1 {
  margin: 0;
  color: #d4d4d4;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  text-shadow: -1px 1px 0px #999;
  float:left;
}

#header h1 span {
	font-size:0.5em;
}

#header i {
	color: #d4d4d4;
	font-size:3em;
	text-shadow: -1px 1px 0px #999;
	float:right;
}

#footer {
	margin-top:30px;
	padding-top:20px;
	border-top:1px solid #DDD;	
}

#footer h1 {
	font-size: 20px;
	color: #bfbfbf;
}

#footer a {
	color: #bfbfbf;
}

#footer a:hover {
	color:#F59C98;
}

#main > div {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top:20px;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
}

nav {
  background-color: #f5f5f6;
  border-bottom: 1px solid #DDDDDD;
}

nav li {
  display: block;
  float: left;
  position: relative;
}

nav li a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding:10px;
  display: block;
  outline: none;
  color: rgba(54,53,53,0.6);
}

nav li a:hover,
nav li a:focus {
	color: rgba(54,53,53,1);
}

nav li.active a:before {
	content: "\f04d";
	color:#6C0018;
	font-family: FontAwesome;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top:-0.65em;
	left: calc(50% - 0.5em);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

nav .time {
	float:right;
	display: block;
	font-size: 11px;
    padding: 13px 10px;
    color:#bbb;
}

table {
	width:100%;
	box-sizing: border-box;
}

table caption {
	text-align: left;
	font-weight: bold;
	color: #A90329;
	padding: 0 10px;
	font-size: 1.2em;
}

table th, table td { 
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
}

table tr {
	border-bottom: 1px solid #EEE;
}

.operations { text-align: right; }

.btn-group {
	display: inline-block;
	color: #FFF;
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	background: #BDBDBD;
}

.btn-group:hover {
	background: #939393;
}

.btn-group > i:nth-child(2) {
	padding-left: 12px; 
}

.btn-group:hover ul { display: block; }

.btn-dropdown {
	position: absolute;
	top:100%;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
	text-align: left;
}

.btn-dropdown li {
	display: list-item;
}

.btn-dropdown > li:first-child > a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.btn-dropdown > li:last-child > a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn-dropdown > li > a {
	display: block;
	padding: 5px 20px;
	clear: both;
	font-weight: normal;
	color: #333;
	white-space: nowrap;
}

.btn-dropdown > li > a:hover {
	background-color: #939393;
	color: #fff;
}

.car-info,
.car-owner-info {
	float:left;
	width: 48%;
}

.car-owner-info {
	float:right;
}

.car-info td ,
.car-owner-info td {
	text-align: right;
}

.form-item {
	margin: 10px 0;
}

.form-item input, .form-item select {
	display: inline-block;
	border: 1px solid #ccc;
	line-height: 16px;
	padding: 6px;
	vertical-align: baseline;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	width:230px;
}

.form-item label {
	width: 140px;
	display: inline-block;
}

.field-suffix { 
	display: inline-block;
	margin-left: 1em;
}

.form-actions a {
	float:right;
}

.error-page #main img {
	float:left;
	margin: 20px;
}
