body {
	margin: 0;
	padding: 0;
}

div.content {
	margin: 1em;
}

div.header {
	padding: 1em;
	border-bottom: 3px solid #666;
	background: #ccc;
}


div.footer {
	padding: 1em;
	border-top: 3px solid ccc;
	border-bottom: 3px solid ccc;
	background: #666;
}

div.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.footer a {
	color: white;
	font-size: 100%;
}

