
.serif { font-family: serif; }
.sans-serif { font-family: sans-serif; }
.monospace { font-family: monospace; }
.cursive { font-family: cursive; }
.fantasy { font-family: fantasy; }
.lucida_grande { font-family: "Lucida Grande"; }

.font80 { font-size: 80%; }
.font120 { font-size: 120%; }
.font2em { font-size: 2em; }
.fontxxsmall { font-size: xx-small; }
.fontxxlarge { font-size: xx-large; }

.fontBold { font-weight: bold; }
.fontBolder { font-weight: bolder; }
.fontWeight100 { font-weight: 100; }
.fontWeight500 { font-weight: 500; }
.fontWeight900 { font-weight: 900; }

.blue { color: blue; }
.red { color: red; }
.green { color: green; }
.yellow { color: yellow; }
.color333 { color: #333; }
.color999 { color: #999; }
.colorCCC { color: #ccc; }

.lowercase { text-transform: lowercase; }
.uppdercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

.spacedLetters { letter-spacing: 1em; }
.spacedWords { word-spacing: 1em; }