.price {
	color: #ff0000;
	font-size: 1.5em;
	font-weight: bold;
}
.priceDescription {
	font-size:0.7em;
	color: #999;
}

.lineHeight80 { line-height: 80%; }
.lineHeight2em { line-height: 2em; }

.alignLeft { text-align: left; }
.alignRight { text-align: right; }
.alignCenter { text-align: center; }
.alignJustify { text-align: justify; }