#container {
	min-height:475px;
	margin:150px auto 0;
}

img { display:inline-block; }

#game-area {
	min-height:475px;
	position: relative;
	background: transparent url('../servletexercises/game/bg.jpg') 0 0 no-repeat;
	overflow: hidden;
}

#hero {
	position: absolute;
	background: transparent 0 0 no-repeat;
}

#controls { overflow: hidden; }

#arrows {
	position: relative;
	width: 150px;
	height:150px;
	float:left;
}

#arrows a {
	position: absolute;
	display: block;
}

#arrow-up {
	top: 0;
	left: calc(50% - 24px);
	left: -moz-calc(50% - 24px);
}

#arrow-right {
	right:0;
	top: calc(50% - 24px);
	top: -moz-calc(50% - 24px);
}

#arrow-down {
	bottom:0;
	left: calc(50% - 24px);
	left: -moz-calc(50% - 24px);
}

#arrow-left {
	left:0;
	top: calc(50% - 24px);
	top: -moz-calc(50% - 24px);
}

#speedControll {
    float: left;
    margin: 60px 0 0 50px;
}

#speedControll label {
	width: 75px;
	display: inline-block;
	
}
#heros {
	float:right;
	margin-top: 25px;
}

