table.dataTable {
	border-collapse: collapse;
	margin: 20px 0;
}

table.dataTable th, table.dataTable td {
	border: 1px solid #999;
	padding: 5px;	
}

table.dataTable th { 
	background-color: #ddd;	
	text-align: left;
}

div.clear {
	clear: both;
}

ul.noBullets {
	
	list-style: none;
	margin: 0;
	padding: 0;
	
}

dt {
	
	font-weight: bold;
}
