div.carWrapper {
	clear: both;
	margin-bottom: 2em;
	overflow: auto;
}

div.carImage {
	
	float: left;
	width: 110px;
	margin-right: 20px;
}

div.carText {
	width: 400px;
	float: left;
}

div.carText table th {
	text-align: left;
	padding-right: 20px;
	
}

div.carText h2 {
	
	margin-top: 0;
	padding-top: 0;
}

div.infoMessage {
	border: 1px solid #999;
	padding-left: 50px;	
	background: url("/webbkurs/images/info.png") no-repeat top .5em left .5em #FFFFCC ;
}



